:root {
    --background-color: #f4f4f4; 
    --txt-color: #000000;

    --div-background-color: #fff;
    --div-txt-color: #000000;
    --weather-info-bg-color: #e4dede;

    --invert-theme-color: invert(0%);
  }
  
.dark-mode {
    --background-color: #000000; 
    --txt-color: #ffffff; 

    --div-background-color: #162053;
    --div-txt-color: #59addd;
    --weather-info-bg-color: #070522;

    --invert-theme-color: invert(100%);
}  

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    font-style: var(--txt-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--div-background-color);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--txt-color);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: var(--txt-color);
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weather-info {
    text-align: center;
    font-size: 18px;
    color: var(--div-txt-color);
}

.weatherImg {
    min-width: 120px;
    margin-left: 10px;
}

.content {
    margin-top: 10px;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--weather-info-bg-color);
    border-radius: 5px;
}

.navbarDiv {
    display: flex;
    justify-content: flex-end;
}

#changeTheme {
    background: none;
    border: none;
    padding: 0;
    margin: 0.5em;
    font: inherit;
    color: inherit;
}

#darkModeImg {
    width: 1.5em;
    filter:var(--invert-theme-color);
}
